
{% load staticfiles %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<style>


.dropdown {
  position: relative;
  color: green;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
  display: block;
}


</style>



  <div class= "container">
    <form action = "" method = "post">
      {% csrf_token %}
      <div class="form-group">
        <label for="label_text">Type your text here:</label>
        <textarea class="form-control" rows="5" id="id_text" name="name_text"></textarea>
      </div>
      <button type="submit" class="btn btn-dark">Submit</button>


    </form>
  </div>

  <br>
  <br>
  <div class = "container" style = "background-color:rgb(246, 244, 240)">
    <!--
      {% for s in sent %}
    <div class="dropdown">
        <span class="dropbtn">{{ s.sentence }} 1111111</span>
        <div class="dropdown-content">
        <a href="#">Link 1</a>
        <a href="#">Link 2</a>
        <a href="#">Link 3</a>
        </div>
      </div>
      {% endfor %}
      <br-->
      {% for w in wor %}
      <div class="dropdown">
        <span class="dropbtn">{{ w.word }}</span>
        <div class="dropdown-content">
          {% for cw in cor %}
          {% if cw.word.word == w.word %}
          <a href="#">{{cw.corWord}}</a>
          {% endif %}
          {% endfor %}
        </div>
      </div>
      {% endfor %}
    
  </div>
